parameters:
	ignoreErrors:
		-
			message: "#^Method PreemStudio\\\\Passwordless\\\\Http\\\\Controllers\\\\StorePasswordlessController\\:\\:__invoke\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Http/Controllers/StorePasswordlessController.php

		-
			message: "#^Method PreemStudio\\\\Passwordless\\\\Http\\\\Controllers\\\\StorePasswordlessController\\:\\:clearSession\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: src/Http/Controllers/StorePasswordlessController.php

		-
			message: "#^Cannot call method named\\(\\) on Illuminate\\\\Routing\\\\Route\\|null\\.$#"
			count: 1
			path: src/Http/Middleware/PassphraseGuard.php

		-
			message: "#^Method PreemStudio\\\\Passwordless\\\\Http\\\\Middleware\\\\PassphraseGuard\\:\\:handle\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Http/Middleware/PassphraseGuard.php

		-
			message: "#^Method PreemStudio\\\\Passwordless\\\\Listeners\\\\RequirePassphrase\\:\\:handle\\(\\) has parameter \\$event with no type specified\\.$#"
			count: 1
			path: src/Listeners/RequirePassphrase.php

		-
			message: "#^Method PreemStudio\\\\Passwordless\\\\Notifications\\\\SendPassphrase\\:\\:toMail\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Notifications/SendPassphrase.php

		-
			message: "#^Method PreemStudio\\\\Passwordless\\\\Notifications\\\\SendPassphrase\\:\\:via\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Notifications/SendPassphrase.php

		-
			message: "#^Cannot access offset 'router' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 1
			path: src/ServiceProvider.php
